In [1]:
# Import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
# Read the CSV
heart = pd.read_csv("cleaned_cardio.csv")
heart.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,50.0,2,66.0,136.0,110,80,1,1,0,0,1,0,21.948577
1,55.0,1,61.0,187.0,140,90,3,1,0,0,1,1,35.329481
2,52.0,1,65.0,141.0,130,70,3,1,0,0,0,1,23.461065
3,48.0,2,67.0,180.0,150,100,1,1,0,0,1,1,28.188906
4,48.0,1,61.0,123.0,100,60,1,1,0,0,0,0,23.238108

In [4]:
# Assign X (data) and y (target)
X = heart.drop("cardio", axis=1)
y = heart["cardio"]
print(X.shape, y.shape)

(68606, 12) (68606,)

In [5]:
# Set up train and test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [6]:
# Set up classifier
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
# Fit and Compare
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

C:\Users\kenda\anaconda\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Training Data Score: 0.7279511796944844
Testing Data Score: 0.7237639925373134

In [10]:
# Make Predictions
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 0 0 0 0 0 0 1 0 1]
First 10 Actual labels: [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [11]:
# Display Predictions
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

       Prediction  Actual
0               1       1
1               0       0
2               0       0
3               0       0
4               0       0
5               0       0
6               0       0
7               1       0
8               0       0
9               1       0
10              0       0
11              0       1
12              0       0
13              0       0
14              0       1
15              1       1
16              1       1
17              0       0
18              1       0
19              0       0
20              0       0
21              1       1
22              0       0
23              0       0
24              0       0
25              1       0
26              0       0
27              1       1
28              1       1
29              0       0
...           ...     ...
17122           0       0
17123           0       0
17124           1       1
17125           1       1
17126           1       1
17127           0       0
17128           0       0
17129           0       0
17130           1       1
17131           0       0
17132           0       0
17133           0       0
17134           1       1
17135           0       0
17136           1       1
17137           0       0
17138           1       1
17139           0       0
17140           1       1
17141           1       1
17142           1       1
17143           1       0
17144           1       0
17145           1       1
17146           1       0
17147           0       0
17148           1       1
17149           0       0
17150           0       1
17151           1       1

[17152 rows x 2 columns]